body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--background-color);
}
:root {
  --background-color: #ffffff;
  --text-color: #2e2f42;
  --paragraph-color: #434455;
  --footer-text-color: #f4f4fd;
  --footer-bg-color: #2e2f42;
  --web-logo-color: #4d5ae5;
  --nav-color: #404bbf;
  --hero-bg: #2e2f42;
  --cornflower: #e7e9fc;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --navyblue-modal: #2e2f42;
  --dairy: #fcfcfc;
}

.container {
  /* width: 1158px; */
  width: 1158px;
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/** HEADER */
.header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  display: flex;
}
.header-container {
  display: flex;
  align-items: center;
}

.logo-link {
  color: var(--web-logo-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  display: inline-block;
}
.web-logo {
  color: var(--text-color);
}
.footer-link {
  margin-bottom: 16px;
}

.list-item {
  list-style-type: none;
}
.list {
  list-style: none;
}

.nav-item-link {
  color: var(--text-color);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}
.nav-item {
  color: var(--text-color #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-item-link:hover,
.nav-item-link:focus {
  color: var(--nav-color);
}
.link {
  text-decoration: none;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-link {
  color: var(--paragraph-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--nav-color);
}

/** MAIN */
.section-hero {
  background-color: var(--hero-bg);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  color: var(--white, #fff);
  text-align: center;
  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto 48px;
  max-width: 496px;
}

.order-button {
  background-color: var(--web-logo-color);
  color: var(--background-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: var(--nav-color);
}
/** SECTION FEAURE */

.section-feature {
  padding: 120px 0;
}

.feature-box {
  padding: 24px 100px;
  display: block;
}

.feature-swg {
  flex-shrink: 0;
}

.feature-main-paragraph {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-list {
  display: flex;
  gap: 24px;
}
.feature-items {
  max-width: 264px;
}
.feature-title {
  font-family: inherit;
  color: var(--footer-bg-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.feature-text {
  color: var(--paragraph-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/** SECTION WHAT ARE WE DOING */
.section-works {
  padding-bottom: 120px;
}
.works-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.section-works-title {
  color: var(--hero-bg);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/** SECTION OUR TEAM */

.section-our-team {
  background-color: var(--footer-text-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.title-our-team {
  color: var(--footer-bg-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
  color: var(--footer-bg-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-item {
  padding: 32px 0;
}

.team-position {
  color: var(--paragraph-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team {
  background-color: var(--background-color);
}

.social-link-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-item a {
  background-color: var(--web-logo-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item a:hover,
.social-item a:focus {
  background-color: var(--nav-color);
}

.social-link-team {
  fill: #f4f4fd;
  margin: 12px 12px;
  justify-content: center;
}

/** FOOTER */
.footer-list-logo {
  display: flex;
  gap: 16px;
}
.footer-logo-item a {
  display: flex;
  background-color: var(--web-logo-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo-item a:hover,
.footer-logo-item a:focus {
  background-color: var(--green);
}

.footer-icon {
  margin: 12px 12px;
  justify-content: center;
  fill: #f4f4fd;
}

.footer-items {
  display: flex;
}

.social-media {
  margin-left: 120px;
}

.social-footer-title {
  margin-bottom: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--background-color);
  margin-bottom: 16px;
}

.footer {
  background-color: var(--footer-bg-color);
  padding: 100px 0;
}
.footer-text {
  color: var(--footer-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.logo-footer {
  color: #f4f4fd;
}
/* CUSTOMERS */

.title-customers {
  color: var(--footer-bg-color);
  text-align: center;
  padding-top: 120px;
  margin-bottom: 72px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.customer-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}

.customer-list > li {
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);
  padding: 16px 32px;
}

.customer-icon {
  fill: var(--light-slate);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon:hover,
.customer-icon:focus {
  fill: var(--nav-color);
}

/** BUTTON FILTERS*/

.button-filters {
  background-color: var(--footer-text-color);
  color: var(--web-logo-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-fiters-item {
  color: var(--web-logo-color);
  text-align: center;
}

.button-filters:hover,
.button-filters:focus {
  background-color: var(--nav-color);
  color: var(--background-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-img-title {
  color: var(--footer-bg-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}
.portfolio-img-text {
  color: var(--paragraph-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.filters {
  padding-bottom: 120px;
  padding-top: 96px;
}
.buttons-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}
.filters-item {
  width: calc((100% - 48px) / 3);
  flex-shrink: 0;
  position: relative;
}
.filters-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-img-title,
.portfolio-img-text {
  /**padding: 0 16px;*/
}
.fltrs-div {
  padding: 32px 16px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
}

/*
.portfolio-cover-bg {
  position: relative;
  overflow: hidden;
}
/*
.portfolio-cover {
  position: absolute;
  top: 0;
  background: var(--web-logo-color, #4d5ae5);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*
  .portfolio-cover-text {
    color: var(--footer-text-color);
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px 0 32px;
    display: flex;
    align-items: center;
  }
<*/
/*
.link-portfolio:hover .portfolio-cover {
  transform: translateY(0%);
}

*/

.filters-item:hover,
.filters-item:focus {
  border: 1px solid var(--cloud, #f4f4fd);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/*       sssss     */
.portfolio-cover {
  position: absolute;
  top: 0;
  background: var(--web-logo-color, #4d5ae5);
  height: 100%;
  padding: 40px 32px 0 32px;
  transform: translateY(100%);
}

.portfolio-cover-bg {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.filters-item:hover .portfolio-cover {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid var(--cloud, #f4f4fd);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
/*    ssssssss   */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  top: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: var(--dairy, #fcfcfc);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
